<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Pandas project about Pokemon">
     <link rel="stylesheet" href="../static/main.css" type=text/css>
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
     <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
     <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" />
     <title>World Happiness Report 2015-2019</title>
  </head>
  <body>
    <div class= "title">
       World Happiness Report - data analysis

    </div>
    <div class= "frame-of-data">

      her the frame
      <div class= "data-analyst">
        hello world <br>
        <br>
        <br>
        {{ table|safe }}

        yes
     <img src="data:image/png;base64, {{ plot_url }}">
      </div>


    </div>
    <div class= "resources">
her the resource
    </div>

  </body>
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</html>
